.paperTitle {
  border-bottom: 1px solid var(--mantine-color-default-border);
}

.categoryComboboxWrapper {
  position: relative;
}

.addCategoryBtn {
  position: absolute;
  right: 0;
  top: 3px;
  font-size: 0.85rem;
  text-decoration: underline;
  color: var(--mantine-color-primary-5);
}
